POSTGRES_HOST=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
DATABASE_PORT=

CLIENT_ORIGIN=http://localhost:3000

GIT_REPO=

MAILSAC_KEY="key"
MYOSOTIS_PRIVATE_DOMAIN="private_domain"
MAILSAC_BASE_URL="mailsac.com"